node_modules
.next
.DS_Store
target/
*.class
*.log
.env
*.lock

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# Deployment folder (temporary solution)
CSC_Capstone_Deployment/

# Large binary files
*.jar
*.war

# Sensitive files
*.pem
