option_settings:
  # Environment type
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance

  # Application port
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    
  # JVM options
  aws:elasticbeanstalk:container:java:
    JVM Options: -Xms256m -Xmx512m
    
  # Healthcheck URL
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /actuator/health
    
  # Auto scaling configuration
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    
  # Enable connection draining
  aws:elb:policies:
    ConnectionDrainingEnabled: true