/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/MissionCard/MissionCard.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.MissionCard_card__C5GH_ {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 5rem;
    max-width: 1800px;
    margin: 2rem auto;
    gap: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .MissionCard_imageWrapper__q_Yk4 {
    flex-shrink: 0;
    width: 50%;
  }
  
  .MissionCard_image__xKqcP {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    object-fit: cover;
  }
  
  .MissionCard_content__7a1z4 {
    flex: 1;
    text-align: left;
  }
  
  .MissionCard_title__YXxzQ {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 1rem;
  }
  
  .MissionCard_text__vAfpb {
    font-size: 1.2rem;
    line-height: 1.6;
    color: (var(--text));
  }  
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/Logo/Logo.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Logo_logoContainer__uaIN1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
  }
  
  .Logo_logoImage__Gc7Ku {
    width: 220px;
    height: auto;
  }
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/components/FarmerCard/FarmerCard.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.FarmerCard_card___7q8I {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--background);
  }
  
  .FarmerCard_image__IlSAb {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
  
  .FarmerCard_text__M86dX {
    flex: 1;
  }
  
  .FarmerCard_name__FN1_d {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
  }
  
  .FarmerCard_description__0bm4V {
    font-size: 1rem;
    color: #555;
  }
  
